<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/Usuario/Error_reserva.css">
    <link rel="stylesheet" href="../../css/Volver.css">

    <title>Error al reservar</title>
</head>
<body>
    
    <div class="error">
        

        <!--Volver-->
        <div class="header_volver">
            <a class="volver" href="../pantallas/index.html">
                <img src="../../img/flecha.png" alt=""/>
            </a>

        </div>
        <div class="body">
            <div class="error">

                <p class="erno">
                    Error al realizar la reserva
                </p>

                <p class="hora">
                    2:00 pm - 4:00 p.m
                </p>

                <button class="boton" onClick={goToHome}>
                    Intente nuevamente
                </button>
            </div>

            <div class="imagen">
                <img src="../../img/fallout_cansado.png" alt="" />
            </div>
        </div>
    </div>
</body>
</html>