<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/Usuario/Mesas_reserva.css">
    <link rel="stylesheet" href="../../css/Navbar.css">
    <title>Mesas reservadas</title>
</head>
<body>
    <div class="mesas_reserva">
    <!--Navbar--> 
      <div class="Navbar" >
        <div class="item" onClick={goToAjustes}>

            <img src="../../img/configuracion.png" alt="casa" class="" />
            <p>Ajustes</p>
        </div>
        <div class="item" onClick={goToInicio}>

            <img src="../../img/casas.png" alt="casa" class="" />
            <p>Inicio</p>
        </div>

        <div class="item" onClick={goToNotificaciones}>
            <img src="../../img/notificacion.png" alt="casa" class="" />
            <p>Notificaciones</p>
        </div>

      </div>

        <div class="titulo">
            Tus reservas 😃
        </div>

        <div class="body">


            <div class="target" onClick={goToReserva}>

                <div class="img">
                    <img src="../../img/fondo_mesa.png" alt="" />
                </div>

                <div class="info">
                    <p>Dia: 07 de marzo </p>
                    <p>Mesas: Mesa #2 </p>
                    <p>Horario: 2:00 pm 4:00 p.m</p>
                </div>
            </div>

            <div class="target" onClick={goToReserva}>

                <div class="img">
                    <img src="../../img/fondo_mesa.png" alt="" />
                </div>

                <div class="info">
                    <p>Dia: 07 de marzo </p>
                    <p>Mesas: Mesa #2 </p>
                    <p>Horario: 2:00 pm 4:00 p.m</p>
                </div>
            </div>

            <div class="target" onClick={goToReserva}>

                <div class="img">
                    <img src="../../img/fondo_mesa.png" alt="" />
                </div>

                <div class="info">
                    <p>Dia: 07 de marzo </p>
                    <p>Mesas: Mesa #2 </p>
                    <p>Horario: 2:00 pm 4:00 p.m</p>
                </div>
            </div>

            <div class="target" onClick={goToReserva}>

                <div class="img">
                    <img src="../../img/fondo_mesa.png" alt="" />
                </div>

                <div class="info">
                    <p>Dia: 07 de marzo </p>
                    <p>Mesas: Mesa #2 </p>
                    <p>Horario: 2:00 pm 4:00 p.m</p>
                </div>
            </div>

            <div class="target" onClick={goToReserva}>

                <div class="img">
                    <img src="../../img/fondo_mesa.png" alt="" />
                </div>

                <div class="info" >
                    <p>Dia: 07 de marzo </p>
                    <p>Mesas: Mesa #2 </p>
                    <p>Horario: 2:00 pm 4:00 p.m</p>
                </div>
            </div>

            <div class="target" onClick={goToHacerReserva}>

                <div class="new">
                    +
                </div>

                <div class="info">
                    <p>Dia: 07 de marzo </p>
                    <p>Mesas: Mesa #2 </p>
                    <p>Horario: 2:00 pm 4:00 p.m</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>