<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/Usuario/No_disponibles.css">
    <link rel="stylesheet" href="../../css/Volver.css">
    <title>Mesa no disponible</title>
</head>
<body>


    <div class="no_disponibles">
        <!--Volver-->
        <div class="header_volver">
            <a class="volver" href="../pantallas/index.html">
                <img src="../../img/flecha.png" alt=""/>
            </a>
        </div>


        <div class="body">
          <div class="info">
                  <h3>Mesa 3</h3>
                  <li>¡ Todas ras reservas ya fueron agendadas ! 😲 </li>
                  

                  <button class="boton" onClick={goToMenu}>
                      Volver 
                  </button>

          </div>

          <div class="imagen">

                  <img src="../../img/fondo_mesa.png" alt="" class="debajo"/>
                  <img src="../../img/cerrado.png" alt="" class="encima"/>
                  
          </div>
        </div>

    </div>
    
</body>
</html>