<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/Navbar.css">
    <link rel="stylesheet" href="../../../css/Usuario/Notificaciones_u.css">
    <title>Notificacioens usuario</title>
</head>
<body>

    <div class="container">
    <!--Navbar--> 
      <div class="Navbar" >

        <div class="item" onClick={goToAjustes}>
            <img src="../../../img/configuracion.png" alt="casa" class="" />
            <p>Ajustes</p>
        </div>
        <div class="item" onClick={goToInicio}>

            <img src="../../../img/casas.png" alt="casa" class="" />
            <p>Inicio</p>
        </div>

        <div class="item" onClick={goToNotificaciones}>
            <img src="../../../img/notificacion.png" alt="casa" class="" />
            <p>Notificaciones</p>
        </div>

      </div>


        <div class="body">
        <a class="notificacion" href='#'>
            <img src="../../../img/notificacion.png" alt="" />
            <p class="asunto">Asunto</p>
            <p class="descripcion">Descripcion</p>
        </a>
        <a class="notificacion" href='#'>
            <img src="../../../img/notificacion.png" alt="" />
            <p class="asunto">Asunto</p>
            <p class="descripcion">Descripcion</p>
        </a>
        <a class="notificacion" href='#'>
            <img src="../../../img/notificacion.png" alt="" />
            <p class="asunto">Asunto</p>
            <p class="descripcion">Descripcion</p>
        </a>
        </div>
        
    </div>
    
</body>
</html>