<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/Usuario/Penalziacion.css">
    <link rel="stylesheet" href="../../css/Volver.css">
    <title>Penalizacion</title>

</head>

<body>
    
    <div class="reserva_exitosa">

        <!--Volver-->
        <div class="header_volver">
            <a class="volver" href="../pantallas/index.html">
                <img src="../../img/flecha.png" alt=""/>
            </a>

        </div>

        <div class="body">

            <div class="info_p">
                <h3>¡ Penalizacion !</h3>
                <li>Mesa 7 </li>
                <li>El 7 de marzo</li>
                <li>2:00 pm - 4:00 p.m</li>
                <li>No te presentaste a lahorareqerida, porlo que no podras realizar otra reserva hasta dentrode ##:## :(</li>

                <button class="boton" onClick={goToMenu}>
                    Volver al menu principal
                </button>

            </div>

            <div class="imagen">
                <img src="../../img/fondo_mesa.png" alt="" />
            </div>

        </div>        

    </div>
</body>
</html>