<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/Usuario/Reserva_cancelada.css">
    <link rel="stylesheet" href="../../css/Volver.css">
    <title>Reserva cancelada</title>
</head>
<body>

    <div class="reserva_cancelada">

        <!--Volver-->
        <div class="header_volver">
            <a class="volver" href="../pantallas/index.html">
                <img src="../../img/flecha.png" alt=""/>
            </a>
        </div>

        <div class="body">
            <div class="primero">
                <h3>¡Reserva cancelada!</h3>
                <img src="../../img/fallout_guy2.png" alt="" />
            </div>

            <div class="segundo">
                <img src="../../img/fondo_mesa.png" alt="" />
            </div>
        </div>

    </div>
    
</body>
</html>