<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/Volver.css">
    <link rel="stylesheet" href="../../css/Usuario/Reserva_u.css">
    <title>Document</title>
</head>
<body>

    <div class="reserva_u">
        
            <!--Volver-->
            <div class="header_volver">
                <a class="volver" href="../pantallas/index.html">
                    <img src="../../img/flecha.png" alt=""/>
                </a>
            </div>

        <div class="reserva_body">

            <div class="info">
                <div class="data">
                  <p>Reserva: 7 marzo</p>
                  <p>Hora: 2 p.m - 4 p.m</p>
                </div>
                <button class="boton" onClick={goToCambioReserva}>Editar reserva</button>
                <button class="boton_rojo" onClick={goToCancelar}>Cancelar reserva</button>
            </div>

            <div class="image">
                <img src="../../img/fondo_mesa.png" alt="" />
                <p>Mesa #2</p>
            </div>
        </div>
    </div>

    
    
</body>
</html>