<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/Usuario/Reserva_exitosa.css">
    <link rel="stylesheet" href="../../css/Volver.css">
    <title>Reserva exitosa</title>
</head>
<body>
    <div class="reserva_exitosa">
        <!--Volver-->
        <div class="header_volver">
            <a class="volver" href="../pantallas/index.html">
                <img src="../../img/flecha.png" alt=""/>
            </a>
        </div>

        <div class="body">

            <div class="info">

                <li>Mesa para el 07 de marzoa las 2:00 pm - 4:00 p.m</li>
                <li>Llegara un correo con al informacion requerida en unos minutos</li>

                <button class="boton" onClick={goToMenu}>
                    Volver al menu principal
                </button>

            </div>

            <div class="imagen">
                <p>! Reserva realizada con exito ¡</p>
                <img src="../../img/mesa.jpg" alt="" />
            </div>

        </div>        

    </div>
</body>
</html>