<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/Admin/usuario/Actualizado_u.css">
    <link rel="stylesheet" href="../../../css/Volver.css">
    <title>Acualizado - Usuario </title>
</head>
<body>
    <div class="container">
        <!--Volver-->
        <div class="header_volver">


            <a class="volver" href="../pantallas/index.html">
                <img src="../../../img/flecha.png" alt=""/>
            </a>
        </div>

        <div class="body">

            <div class="datos">
                <div class="p1">
                    <img src="../../../img/Iconos_perfil/usuario.png" alt="" />
                    <p>¡Usuario actualizado
                    con exito! 😃</p>
                </div>
            </div>
            <a href="#" class="boton" onClick={goToEnviarCredenciales} >Enviar credenciales</a>
        </div>
    </div>
    
</body>
</html>