<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/Admin/usuario/perfil_u.css">
    <link rel="stylesheet" href="../../../css/Volver.css">
    <title>Perfil usuario</title>

</head>
<body>
    
    <div class="container">
        <!--Volver-->
        <div class="header_volver">
            <a class="volver" href="../pantallas/index.html">
                <img src="../../../img/flecha.png" alt=""/>
            </a>
        </div>

        <div class="body">

            <div class="datos">
                <div class="p1">
                    <img src="../../../img/Iconos_perfil/usuario.png" alt="" />
                    <p>Dweyne Jhonson</p>
                </div>
                <div class="p2">
                    <p>Nombre: Dweyne Jhonson</p>
                    <p>Correo: DweyneJhonsongamil.com </p>
                    <p>CC: 303789047</p>
                    <p>Contraseña: GATITOS_hyper.098</p>
                </div>
            </div>
            <a href="#" class="boton" onClick={goToEditar}>Editar</a>
            <a href="#" class="boton_r" onClick={goToEliminar}>Eliminar</a>
        </div>
    </div>

</body>
</html>