/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  width: 0vw;
  height: 0vh;
  margin: 0;
}

/*Fente: font-family: "Inter", sans-serif;*/
/*Variables usuario*/
.container {
  width: calc(100vw - 17px);
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: linear-gradient(rgb(255, 0, 0), rgb(86, 0, 0));
  font-family: "Inter", sans-serif;
}
.container .body {
  width: 95%;
  min-height: auto;
  height: auto;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .body .target {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25.5%;
  height: 70vh;
  border-radius: 15px;
  background: rgb(29, 29, 29);
  color: white;
  margin: 5% auto;
  text-decoration: none;
}
.container .body .target .plus {
  width: 90%;
  height: 70%;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  border-bottom: 4px solid #eee;
}
.container .body .target img {
  width: 80%;
  height: 55%;
}
.container .body .target h3 {
  width: 90%;
  height: 10%;
}

.container .body .target:hover {
  background: linear-gradient(rgb(255, 255, 255), rgb(97, 97, 97));
  color: black;
}
