<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Admin/Crud.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/Volver.css') }}">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <!--Volver-->
        <div class="header_volver">
            <a class="volver" href="{{ url_for('admin_bp.volver_menu') }}">
                <img src="{{ url_for('static', filename='img/flecha.png')}} " alt=""/>
            </a>
        </div>
 
        <div class="body">
            <div class="target" onClick="window.location.href='{{ url_for('admin_bp.inicio_usuarios') }}'">
                <img src="{{ url_for('static', filename='img/Iconos_perfil/usuario.png')}}" alt="" />
                <h3>Usuario</h3>
                <button onClick={goToCrudUsuarios}>
                    Editar Usuario
                </button>
            </div>
            <div class="target">
                <img src="{{ url_for('static', filename='img/Iconos_perfil/admin.png')}} " alt="" />
                <h3>Admin</h3>
                <button onClick={goToCrudAdmin}>
                    Editar Admin
                </button>
            </div>

            <div class="target">
                <img src="{{ url_for('static', filename='img/Iconos_perfil/gerente.png')}} " alt="" />
                <h3>gerente</h3>
                <button onClick={goToCrudGerente}>
                    Editar gerente
                </button>
            </div>

            <div class="target">
                <img src="{{ url_for('static', filename='img/Iconos_perfil/mesa.png')}} " alt="" />
                <h3>mesa</h3>
                <button onClick={goToCrudMesa}>
                    Editar mesa
                </button>
            </div>

            <div class="target">
                <img src="{{ url_for('static', filename='img/Iconos_perfil/recepcionista.png')}} " alt="" />
                <h3>Recepconista</h3>
                <button onClick={goToCrudRecepcionista}>
                    Editar Recepconista
                </button>
            </div>

        </div>
    </div>
    
</body>
</html>