<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <!-- Estilos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Volver.css') }}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Login</title>
</head>
<body>
    <div class = "inicio">
        <div class="header">

            <!--Volver-->
            <div class="header_volver">
                <a class="volver" onClick="window.history.back()">
                    <img src="{{ url_for('static', filename='img/flecha.png') }}" alt=""/>
                </a>
            </div>
            
            <div class="titulo" >
                Inicio sesion - BBQ REAL SMOKE
            </div>
        </div>

        
        <form class="sesion" method="POST">

          <p>Correo:</p>
          <input type="text" placeholder="Correo" name='correo'onChange=""/>

          <p>Contraseña:</p>
          <input type="password" placeholder="Contrasena" name='contrasena' onChange=""/>

          <a href="../pantallas/Registro.html" class="enlace" >
            Registrate 😋
          </a>
          <a href="" class="enlace" >
            Olvide mi contrasena 😱
          </a>
          <button type="submit" >
            Ingresar
          </button>
          
        </form>

        <div class="imagen">
            <div class="title">BBQ EL REAL</div>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" />
            </div>
        </div>

    </div>
    
</body>
</html>